

span.result {font-weight: bold; font-style: italic; font-size: 1.2em; background-color: #ececec; border-radius:6px; padding:6px 8px 6px 6px;}

/* #result-container, #starter-controls{display:none;} */
.dropdown-content {  margin-top: 50px; wdith: 200px; }
